[submodule "plog"]
	path = src/3rd-party/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "exceptxx"]
	path = src/3rd-party/exceptxx
	url = https://github.com/SergiusTheBest/exceptxx
[submodule "Detours"]
	path = src/3rd-party/Detours
	url = https://github.com/LonghronShen/Detours
[submodule "mhook"]
	path = src/3rd-party/mhook
	url = https://github.com/apriorit/mhook	
[submodule "Deviare-InProc"]
    path = src/3rd-party/Deviare/Deviare-InProc
    url = https://github.com/nefelim/Deviare-InProc
