[submodule "Detours"]
	path = src/3rd-party/Detours
	url = https://github.com/LonghronShen/Detours
[submodule "src/3rd-party/plog"]
	path = src/3rd-party/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "src/3rd-party/exceptxx"]
	path = src/3rd-party/exceptxx
	url = https://github.com/SergiusTheBest/exceptxx
[submodule "src/3rd-party/mhook"]
	path = src/3rd-party/mhook
	url = https://github.com/apriorit/mhook
